<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
</head>
<body>
    <div id="map" style="height: 100%;"></div>
    <input type="hidden" id="routeGeoJSON" value='<%= JSON.stringify(routeGeoJSON) %>' />
    <input type="hidden" id="startLat" value="<%= start.latitude %>" />
    <input type="hidden" id="startLng" value="<%= start.longitude %>" />
    <input type="hidden" id="endLat" value="<%= end.latitude %>" />
    <input type="hidden" id="endLng" value="<%= end.longitude %>" />

    <script>
        const startLat = parseFloat(document.getElementById('startLat').value);
        const startLng = parseFloat(document.getElementById('startLng').value);
        const endLat = parseFloat(document.getElementById('endLat').value);
        const endLng = parseFloat(document.getElementById('endLng').value);
        const routeGeoJSON = JSON.parse(document.getElementById('routeGeoJSON').value);

        const map = L.map('map').setView([startLat, startLng], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
        }).addTo(map);

        const route = L.geoJSON(routeGeoJSON);
        route.addTo(map);

        map.fitBounds(route.getBounds());

        L.marker([startLat, startLng]).addTo(map).bindPopup('Start');
        L.marker([endLat, endLng]).addTo(map).bindPopup('End');
    </script>
</body>
